* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f172a;
  color: #e5e7eb;
}

a {
  text-decoration: none;
  color: inherit;
}

/* HEADER */
header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(135deg, #020617, #0f172a);
  padding: 40px;
}

header h1 {
  font-size: 3rem;
  color: #38bdf8;
}

header h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

header p {
  max-width: 600px;
  margin: 20px auto;
  color: #94a3b8;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  border-radius: 30px;
  background: #38bdf8;
  color: #020617;
  font-weight: 600;
  transition: 0.3s;
}

.btn:hover {
  background: #0ea5e9;
}
.profile-img {
  margin-top: 20px;
  text-align: center;
}

.profile-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid #38bdf8; /* blue ring */
  box-shadow: 0 0 20px rgba(56,189,248,0.7); /* glow */
  object-fit: cover;
}


/* SECTIONS */
section {
  padding: 80px 10%;
}

h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #38bdf8;
  text-align: center;
}

/* ABOUT */
.about p {
  max-width: 800px;
  margin: auto;
  line-height: 1.7;
  color: #cbd5f5;
  text-align: center;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.skill-card {
  background: #020617;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(56,189,248,0.1);
}

/* PROJECTS */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: #020617;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-card h4 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.project-card p {
  color: #94a3b8;
  font-size: 0.95rem;
}

/* CONTACT */
.contact {
  text-align: center;
}

.contact p {
  margin: 10px 0;
  color: #cbd5f5;
}

/* FOOTER */
footer {
  background: #020617;
  padding: 20px;
  text-align: center;
  color: #64748b;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  header h1 {
    font-size: 2.2rem;
  }

  header h2 {
    font-size: 1.2rem;
  }
}
